.home-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
  }
  
  .icon-container {
    position: relative;
  }
  
  .icon {
    position: absolute;
  }
  
  .spinning-icon {
    width: 20vw;
    height: 20vw;
  }
  .image-wrapper {
    position: absolute;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    overflow: hidden;
  }

  .vayda-gif {
    image-rendering: 'pixelated';
    height:calc(100vw / 10);
    width:calc(100vw / 10);
  }

  
  .texture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    z-index: 10000000;
  }
  
  @media (max-width: 768px) {
    .icon-container {
      position: static;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .spinning-icon {
      width: 30vw !important;
      height: auto !important;
      padding: 5vw;
    }
  
    .icon {
      position: static;
      margin: 10px;
    }
  }